### Downloading Data files

In [9]:
import requests
import os
import subprocess
import argparse
import sys

In [32]:
parser = argparse.ArgumentParser()
parser.add_argument(
        "-d", "--download",
        action="store_true",
        help="Download data and move to HDFS."
    )

# Use parse_known_args() to ignore unexpected arguments (e.g., Jupyter's)
args, unknown = parser.parse_known_args()

In [3]:
# downloading data from gihub repo.
def downloadData(path):
    for url in range(1,13):
        # construct file url for 2023 
        url = f"https://raw.githubusercontent.com/KareeemBeltagy/NYC_TCL_Taxi/refs/heads/master/data/yellow_tripdata_2022-{url:02}.parquet"
        file_path = path + os.path.basename(url)
        # Ensure the parent directory exists
        os.makedirs(os.path.dirname(file_path), exist_ok=True)
        if  os.path.exists(file_path):
            print(f"File {file_path} exist.")
            continue  # Skip the current iteration and go to the next file
        
        # get request to download the file
        with requests.get(url , stream=True)as r:
            r.raise_for_status()
            # write file in chunks
            print(f'Writting file to {file_path}')
            with open(file_path,"wb") as f:
                for chunk in r.iter_content(chunk_size=80000):
                    f.write(chunk)

In [36]:
if args.download:
    print("*********************Running in download mode.*********************")
    path = os.path.join('.','data','')     
    downloadData(path)

In [37]:
#download taxi_zone_lookup.csv
if args.download:
    url="https://raw.githubusercontent.com/KareeemBeltagy/NYC_TCL_Taxi/refs/heads/master/data/taxi_zone_lookup.csv"
    file_path = path + os.path.basename(url)
    with requests.get(url , stream=True)as r:
                r.raise_for_status()
                # write file in chunks
                with open(file_path,"wb") as f:
                    for chunk in r.iter_content(chunk_size=80000):
                        f.write(chunk)

### Moving Data from Local to HDFS

In [29]:
# moving data files from local ot HDFS directory
if args.download:    
    local_dir = os.path.join('.','data','')  # "/home/itversity/itversity-material/NYC_TCL/data/"
    hdfs_dir =  os.path.join('/','NYC','raw','')# "/NYC/raw"
    # create parent directory on HDFS if not exist
    subprocess.run(["hdfs","dfs","-mkdir","-p",hdfs_dir])
    # loop over files and move from local to HDFS
    for file in range(1,13):
        file_path =local_dir + f"yellow_tripdata_2022-{file:02}.parquet"
        file_name = os.path.basename(f"{local_dir}yellow_tripdata_2022-{file:02}.parquet")
        hdfs_file_path = os.path.join(hdfs_dir,file_name)
        # check if file not found on local 
        if not os.path.exists(file_path):
            print(f"File {file_path} does not exist. Skipping this file.")
            continue  # Skip the current iteration and go to the next file
        print(f"moving file:{file_name}  to \n {hdfs_file_path} ")
        subprocess.run(["hdfs", "dfs", "-copyFromLocal", file_path, hdfs_file_path])
    # moving taxi_zone_lookup.csv to HDFS
    file_path =local_dir + f"taxi_zone_lookup.csv"
    file_name = os.path.basename(f"{local_dir}taxi_zone_lookup.csv")
    hdfs_file_path = os.path.join(hdfs_dir,file_name)
    subprocess.run(["hdfs", "dfs", "-copyFromLocal", file_path, hdfs_file_path])

# run in default if no argument is passed to download the data    
print("*********************Running in default mode.*********************")

Running in default mode.

### Creating Spark Session

In [4]:
import pyspark 
from pyspark.sql import SparkSession
from pyspark.sql.functions import * # year,month,dayofyear,datediff,unix_timestamp,dayofmonth,to_date,date_format,round,col
from pyspark.storagelevel import StorageLevel
from pyspark.sql.types import StructType, StructField, LongType, TimestampType, DoubleType, StringType
from pyspark.sql.functions import broadcast

In [6]:
spark = SparkSession.builder.appName("NYC_taxi").enableHiveSupport().getOrCreate()
spark

### Reading files and saving as one table

In [9]:
df = spark.read.parquet("/NYC/raw/yellow_tripdata_2022*.parquet")
df_zone = spark.read.csv("/NYC/raw/taxi_zone_lookup.csv",header=True,inferSchema=True)
df.printSchema()
df_zone.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [8]:
df.count()
# zone_lookup.count()

39656098

### Exploring and Cleaning data

In [5]:
# function to count null values for each column containing nulls
def null_count(df):
    null_columns_count=[]
    row_count=df.count()
    for c in df.columns:
        null_rows=df.where(df[f"{c}"].isNull()).count()
        if null_rows > 0:
            temp= c, null_rows , (null_rows/row_count)*100
            null_columns_count.append(temp)
            
    return null_columns_count

In [6]:
null_columns = null_count(df)
print(null_columns)

[('passenger_count', 1368303, 3.4504226815255503), ('RatecodeID', 1368303, 3.4504226815255503), ('store_and_fwd_flag', 1368303, 3.4504226815255503), ('congestion_surcharge', 1368303, 3.4504226815255503), ('airport_fee', 1368303, 3.4504226815255503)]

##### Substituting  records containing nulls for "passenger_count" column with AVG number of passenger per trip
##### Substituting  records containing nulls for "total_amount" column using a factor of "fare_per_distance"

In [7]:
# Get average passenger count per trip  
avg_passenger_count = df.select("passenger_count").where((col("passenger_count").isNotNull()) & (col("passenger_count")!= 0) ). \
        select(ceil(avg("passenger_count"))).collect()[0][0]
# Calculate factor for fare per distance
avg_fare_trip = df.select(["trip_distance","total_amount"]).where(
            (col("trip_distance").isNotNull())|(col("trip_distance")!=0) | (col("total_amount").isNotNull())|(col("total_amount")!=0)) \
            .withColumn("fare_per_trip", col("total_amount")/col("trip_distance")).agg(avg("fare_per_trip")).collect()[0][0]

# handling nulls in columns passenger_count & total_amount
df=df.withColumn("passenger_count", \
                when(
    (col("passenger_count").isNull())|(col("passenger_count")==0),lit(avg_passenger_count)).otherwise(col("passenger_count"))) \
    .withColumn("total_amount" ,
               when((col("total_amount").isNull()) | (col("total_amount")==0), col("trip_distance")*avg_fare_trip ).otherwise(col("total_amount")) )
df.show(15)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-10-01 00:03:41|  2022-10-01 00:18:39|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|
|       2| 2022-10-01 00:14:30|  2022-10-01 00:19:48|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 2.5|        0.0|
|       2| 2022-10-01 00:27:13|  2022-10-01 00:37:41|            1.0|         1.74|       1.0|                 N|         238|         166|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 0.0|        0.0|
|       1| 2022-10-01 00:32:53|  2022-10-01 00:38:55|            2.0|          1.3|       1.0|                 N|         142|         239|           1|        6.5|  3.0|    0.5|      2.05|         0.0|                  0.3|       12.35|                 2.5|        0.0|
|       1| 2022-10-01 00:44:55|  2022-10-01 00:50:21|            2.0|          1.0|       1.0|                 N|         238|         166|           1|        6.0|  0.5|    0.5|       1.8|         0.0|                  0.3|         9.1|                 0.0|        0.0|
|       1| 2022-10-01 00:22:52|  2022-10-01 00:52:14|            1.0|          6.8|       1.0|                 Y|         186|          41|           2|       25.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 2.5|        0.0|
|       2| 2022-10-01 00:33:19|  2022-10-01 00:44:51|            3.0|         1.88|       1.0|                 N|         162|         145|           2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       1| 2022-10-01 00:02:42|  2022-10-01 00:50:01|            1.0|         12.2|       1.0|                 N|         100|          22|           1|       41.0|  3.0|    0.5|       3.0|         0.0|                  0.3|        47.8|                 2.5|        0.0|
|       2| 2022-10-01 00:06:35|  2022-10-01 00:24:38|            1.0|         7.79|       1.0|                 N|         138|         112|           1|       23.5|  0.5|    0.5|      4.96|         0.0|                  0.3|       31.01|                 0.0|       1.25|
|       2| 2022-10-01 00:29:25|  2022-10-01 00:43:15|            1.0|         4.72|       1.0|                 N|         145|          75|           1|       14.5|  0.5|    0.5|       1.5|         0.0|                  0.3|        19.8|                 2.5|        0.0|
|       1| 2022-10-01 00:01:55|  2022-10-01 00:20:16|            1.0|          8.8|       1.0|                 N|         138|         236|           1|       26.0| 4.25|    0.5|      5.64|        6.55|                  0.3|       43.24|                 2.5|       1.25|
|       1| 2022-10-01 00:27:48|  2022-10-01 00:59:50|            1.0|          8.6|       1.0|                 N|         140|          36|           1|       29.5|  3.0|    0.5|       6.0|         0.0|                  0.3|        39.3|                 2.5|        0.0|
|       1| 2022-10-01 00:05:27|  2022-10-01 00:35:33|            4.0|         12.0|       1.0|                 N|          70|         230|           2|       36.5|  3.0|    0.5|       0.0|        6.55|                  0.3|       46.85|                 2.5|        0.0|
|       1| 2022-10-01 00:38:53|  2022-10-01 00:48:13|            2.0|          1.4|       1.0|                 N|         230|          68|           1|        8.5|  3.0|    0.5|      3.05|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       2| 2022-10-01 00:24:40|  2022-10-01 00:30:23|            1.0|         0.76|       1.0|                 N|          79|         113|           1|        5.5|  0.5|    0.5|      0.93|         0.0|                  0.3|       10.23|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 15 rows

In [8]:
# to focus on necessary features for the analysis some columns will be excluded 
# assuming trips with distance greater than 150 or less than 0.5 miles are outliers 
# assuming trips with total_amount greater than 350 or less than 
# considering only the absolute value for total_amount 
required_columns = ["tpep_pickup_datetime","tpep_dropoff_datetime","passenger_count","trip_distance","RatecodeID",
                    "PULocationID","DOLocationID","payment_type","total_amount"]
df = df.withColumn("total_amount",abs(format_number(col("total_amount")+col("airport_fee"),2).cast("double"))).select(required_columns) \
        .withColumn("trip_distance" , col("trip_distance")*1.6) \
        .where(
                (col("trip_distance")<=150)&(col("trip_distance") >= 0.5)
                ) \
        .where(
                (col("total_amount") <=350)
                )
# df.count()

##### Chechk if any integer field contains negative values

In [9]:
integr_fields =[field.name for field in df.schema if isinstance(field.dataType , (LongType, DoubleType))  ]
negative_values = {column: df.select(column).where(col(column) < 0).count() > 0 for column in integr_fields  }
negative_values=[column  for column , has_negative in negative_values.items() if has_negative]
negative_values

[]

In [10]:
# take the absolute for any negative value 
for column in negative_values:
    df = df.withColumn(column,abs(col(column)))

##### Creating columns year,month,day to partition data based on it

In [11]:
columns_arranged=["tpep_pickup_datetime","tpep_dropoff_datetime","passenger_count","trip_distance",
                  "RatecodeID","PULocationID","DOLocationID","duration","payment_type","total_amount","year","month","day","day_name"]
df_final =df.withColumn("trip_distance",round(col("trip_distance"),2)) \
        .withColumn("year", year("tpep_pickup_datetime").cast("string")) \
        .withColumn("month",month("tpep_pickup_datetime").cast("string")) \
        .withColumn("day",dayofmonth("tpep_pickup_datetime").cast("string")) \
        .withColumn("day_name",date_format("tpep_pickup_datetime" , "E")) \
        .withColumn("duration",(unix_timestamp("tpep_dropoff_datetime")-unix_timestamp("tpep_pickup_datetime"))/60) \
        .withColumn("duration", round("duration",2)) \
            .select(columns_arranged).where(col("year")=='2022')  # filtring for year 2022

In [12]:
df_final.count()

37314686

### save as dataframe partitioned by year, month

In [14]:
path_to_table_trip = "/NYC/processed/Yellow_trip"  # change to the desired path 
# df_final.write.partitionBy("year","month").mode("overwrite").format("parquet").option("path",path_to_table).saveAsTable("Yellow_trip")
df_final.write.partitionBy("year","month").mode("overwrite").format("parquet").option("path",path_to_table_trip).save()

In [15]:
path_to_table_zone = "/NYC/processed/zone_lookup"
df_zone.write.mode("overwrite").format("parquet").option("path",path_to_table_zone).save()

#### Reading data for further analysis

In [16]:
# Reading table and presisting it to avoid recomputation
# df_trips= spark.read.table("Yellow_tripdata_cleaned").persist(StorageLevel.MEMORY_AND_DISK)
df_trips= spark.read.format("parquet").load(path_to_table_trip)

In [17]:
# zone_lookup=spark.read.table("zone_lookup")
zone_lookup=spark.read.format("parquet").load(path_to_table_zone)

In [18]:
# df_trips.count()
# zone_lookup.count()

In [19]:
total_trips= spark.sparkContext.broadcast(df_trips.count())

##### Number of trips distribution for each month.

In [20]:
# total_trips= df_trips.count()
trip_per_month = df_trips.groupby("year","month").agg(count("*").alias("trip/month")).orderBy(col("month").cast("int")) \
                .withColumn("per%", round((col("trip/month")/total_trips.value)*100,2))
trip_per_month

+----+-----+----------+----+
|year|month|trip/month|per%|
+----+-----+----------+----+
|2022|    1|   2335478|6.26|
|2022|    2|   2812718|7.54|
|2022|    3|   3430113|9.19|
|2022|    4|   3401942|9.12|
|2022|    5|   3372751|9.04|
|2022|    6|   3335223|8.94|
|2022|    7|   2991282|8.02|
|2022|    8|   2980771|7.99|
|2022|    9|   2981955|7.99|
|2022|   10|   3446892|9.24|
|2022|   11|   3048480|8.17|
|2022|   12|   3177081|8.51|
+----+-----+----------+----+

##### Distribution of trips over the week.

In [21]:
# creating a column to custom order the day of week 
day_order = when(col("day_name") == "Sat", 1) \
            .when(col("day_name") == "Sun", 2) \
            .when(col("day_name") == "Mon", 3) \
            .when(col("day_name") == "Tue", 4) \
            .when(col("day_name") == "Wed", 5) \
            .when(col("day_name") == "Thu", 6) \
            .when(col("day_name") == "Fri", 7) 
    

trips_per_day_of_week = df_trips.groupby("day_name").agg(count("*").alias("trip/day_of_week")) \
                            .withColumn("per%", round((col("trip/day_of_week")/total_trips.value)*100,2)) \
                            .withColumn("day_order",day_order) \
                            .orderBy(col("day_order")).select("day_name","trip/day_of_week","per%")
trips_per_day_of_week

+--------+----------------+-----+
|day_name|trip/day_of_week| per%|
+--------+----------------+-----+
|     Sat|         5464376|14.64|
|     Sun|         4477871| 12.0|
|     Mon|         4816485|12.91|
|     Tue|         5460685|14.63|
|     Wed|         5624869|15.07|
|     Thu|         5776548|15.48|
|     Fri|         5693852|15.26|
+--------+----------------+-----+

#### join zone_lookup DF to include location info.

In [22]:
# Broadcast join zon_lookup and include Borough for both pickup and drop off locations
trips = df_trips.join(broadcast(zone_lookup["LocationID","Borough","Zone"].alias("PU")) \
                      ,df_trips.PULocationID == col("PU.LocationID"),"left") \
        .join(broadcast(zone_lookup["LocationID","Borough","Zone"].alias("DO")) \
                      ,df_trips.DOLocationID == col("DO.LocationID"),"left") \
        .select(df_trips["*"],
                            col("PU.Borough").alias("PU_borough"),col("PU.Zone").alias("PU_Zone") 
                            ,col("DO.borough").alias("DO_borough"),col("DO.Zone").alias("DO_Zone")) \
        .persist(StorageLevel.MEMORY_AND_DISK)
# df_trips.unpersist()
trips

+--------------------+---------------------+---------------+-------------+----------+------------+------------+--------+------------+------------+---+--------+----+-----+----------+--------------------+----------+--------------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|PULocationID|DOLocationID|duration|payment_type|total_amount|day|day_name|year|month|PU_borough|             PU_Zone|DO_borough|             DO_Zone|
+--------------------+---------------------+---------------+-------------+----------+------------+------------+--------+------------+------------+---+--------+----+-----+----------+--------------------+----------+--------------------+
| 2022-10-01 00:03:41|  2022-10-01 00:18:39|            1.0|         2.72|       1.0|         249|         107|   14.97|           1|       15.95|  1|     Sat|2022|   10| Manhattan|        West Village| Manhattan|            Gramercy|
| 2022-10-18 20:45:38|  2022-10-18 20:55:06|            1.0|          3.2|       1.0|          79|         233|    9.47|           1|       15.36| 18|     Tue|2022|   10| Manhattan|        East Village| Manhattan| UN/Turtle Bay South|
| 2022-10-01 00:14:30|  2022-10-01 00:19:48|            2.0|         1.15|       1.0|         151|         238|     5.3|           2|         9.3|  1|     Sat|2022|   10| Manhattan|    Manhattan Valley| Manhattan|Upper West Side N...|
| 2022-10-18 20:27:06|  2022-10-18 20:41:27|            4.0|         14.1|       1.0|         132|          39|   14.35|           2|        29.3| 18|     Tue|2022|   10|    Queens|         JFK Airport|  Brooklyn|            Canarsie|
| 2022-10-01 00:27:13|  2022-10-01 00:37:41|            1.0|         2.78|       1.0|         238|         166|   10.47|           1|       12.36|  1|     Sat|2022|   10| Manhattan|Upper West Side N...| Manhattan| Morningside Heights|
| 2022-10-18 20:18:10|  2022-10-18 20:29:32|            1.0|          4.3|       1.0|         100|         145|   11.37|           1|        25.0| 18|     Tue|2022|   10| Manhattan|    Garment District|    Queens|Long Island City/...|
| 2022-10-01 00:32:53|  2022-10-01 00:38:55|            2.0|         2.08|       1.0|         142|         239|    6.03|           1|       12.35|  1|     Sat|2022|   10| Manhattan| Lincoln Square East| Manhattan|Upper West Side S...|
| 2022-10-18 20:07:18|  2022-10-18 20:30:07|            2.0|         16.0|       1.0|         138|          25|   22.82|           1|        38.8| 18|     Tue|2022|   10|    Queens|   LaGuardia Airport|  Brooklyn|         Boerum Hill|
| 2022-10-01 00:44:55|  2022-10-01 00:50:21|            2.0|          1.6|       1.0|         238|         166|    5.43|           1|         9.1|  1|     Sat|2022|   10| Manhattan|Upper West Side N...| Manhattan| Morningside Heights|
| 2022-10-18 20:53:33|  2022-10-18 21:26:16|            1.0|        29.09|       2.0|         132|          90|   32.72|           1|       76.72| 18|     Tue|2022|   10|    Queens|         JFK Airport| Manhattan|            Flatiron|
| 2022-10-01 00:22:52|  2022-10-01 00:52:14|            1.0|        10.88|       1.0|         186|          41|   29.37|           2|        29.3|  1|     Sat|2022|   10| Manhattan|Penn Station/Madi...| Manhattan|      Central Harlem|
| 2022-10-18 20:06:21|  2022-10-18 20:14:55|            1.0|         1.55|       1.0|         162|         230|    8.57|           1|       12.96| 18|     Tue|2022|   10| Manhattan|        Midtown East| Manhattan|Times Sq/Theatre ...|
| 2022-10-01 00:33:19|  2022-10-01 00:44:51|            3.0|         3.01|       1.0|         162|         145|   11.53|           2|        14.3|  1|     Sat|2022|   10| Manhattan|        Midtown East|    Queens|Long Island City/...|
| 2022-10-18 20:19:43|  2022-10-18 20:32:54|            1.0|         3.52|       1.0|         161|         113|   13.18|           1|       17.16| 18|     Tue|2022|   10| Manhattan|      Midtown Center| Manhattan|Greenwich Village...|
| 2022-10-01 00:02:42|  2022-10-01 00:50:01|            1.0|        19.52|       1.0|         100|          22|   47.32|           1|        47.8|  1|     Sat|2022|   10| Manhattan|    Garment District|  Brooklyn|    Bensonhurst West|
| 2022-10-18 20:44:57|  2022-10-18 20:53:43|            1.0|         1.94|       1.0|         186|         137|    8.77|           1|       13.56| 18|     Tue|2022|   10| Manhattan|Penn Station/Madi...| Manhattan|            Kips Bay|
| 2022-10-01 00:06:35|  2022-10-01 00:24:38|            1.0|        12.46|       1.0|         138|         112|   18.05|           1|       32.26|  1|     Sat|2022|   10|    Queens|   LaGuardia Airport|  Brooklyn|          Greenpoint|
| 2022-10-18 20:13:58|  2022-10-18 20:19:17|            1.0|         1.42|       1.0|         239|         142|    5.32|           1|        11.3| 18|     Tue|2022|   10| Manhattan|Upper West Side S...| Manhattan| Lincoln Square East|
| 2022-10-01 00:29:25|  2022-10-01 00:43:15|            1.0|         7.55|       1.0|         145|          75|   13.83|           1|        19.8|  1|     Sat|2022|   10|    Queens|Long Island City/...| Manhattan|   East Harlem South|
| 2022-10-18 20:24:24|  2022-10-18 20:47:49|            2.0|         6.98|       1.0|          48|          42|   23.42|           1|       27.36| 18|     Tue|2022|   10| Manhattan|        Clinton East| Manhattan|Central Harlem North|
+--------------------+---------------------+---------------+-------------+----------+------------+------------+--------+------------+------------+---+--------+----+-----+----------+--------------------+----------+--------------------+
only showing top 20 rows

#### Get number of trips per each Borough

In [23]:
# the result shows that most of demand is in Manhattan boroug by 89% of total trips
trips_per_borough=trips.groupby("PU_borough") \
                        .agg(count("*").alias("Trips")) \
                        .withColumn("per%",round((col("Trips")/total_trips.value)*100,2))
trips_per_borough

+-------------+--------+-----+
|   PU_borough|   Trips| per%|
+-------------+--------+-----+
|       Queens| 3231600| 8.66|
|          EWR|     732|  0.0|
|      Unknown|  438672| 1.18|
|     Brooklyn|  184327| 0.49|
|Staten Island|    1989| 0.01|
|          N/A|    5942| 0.02|
|    Manhattan|33417248|89.56|
|        Bronx|   34176| 0.09|
+-------------+--------+-----+

#### Investigating the trips distribution in manhattan

In [24]:
total_trips_manhattan = spark.sparkContext.broadcast(trips.where(col("PU_borough")=="Manhattan").count())
total_trips_manhattan.value

33417248

In [53]:
# get top ten pickup zones in manhattan
trips_in_manhattan = trips.select("PU_borough","PU_Zone") \
                            .where(col("PU_borough")=="Manhattan") \
                            .groupby("PU_Zone") \
                            .agg(count("*").alias("Trips")) \
                            .withColumn("per%",round((col("Trips")/total_trips_manhattan.value)*100,2)) \
                            .orderBy(col("Trips").desc()) \
                            .limit(10) 
trips_in_manhattan

+--------------------+-------+----+
|             PU_Zone|  Trips|per%|
+--------------------+-------+----+
|Upper East Side S...|1788379|5.35|
|Upper East Side N...|1578916|4.72|
|      Midtown Center|1515988|4.54|
|Penn Station/Madi...|1257750|3.76|
|        Midtown East|1248094|3.73|
| Lincoln Square East|1242940|3.72|
|Times Sq/Theatre ...|1166535|3.49|
|         Murray Hill|1159279|3.47|
|        Clinton East|1141884|3.42|
|       Midtown North|1075554|3.22|
+--------------------+-------+----+

#### Preferred payment type by passengers

In [34]:
# first create dictionary to map payment methods
dict_payment_type = {
    1: "Credit card",
    2: "Cash",
    3: "No charge",
    4: "Dispute",
    5: "Unknown",
    6: "Voided trip"
}
# selecting necessary columns and avoid unknown payment type
df_payment = trips.select("payment_type").where(col("payment_type")!=5) \
            .groupby("payment_type").agg(count("*").alias("Trips")) 

# crete column based on payment type dictionary
col_payment_type = None
for value,type in dict_payment_type.items():
    if col_payment_type is None:
        col_payment_type = when(col("payment_type")==value , type)
    else:
        col_payment_type = col_payment_type.when(col("payment_type")==value , type)
# Number of trips per payment type. 
df_payment = df_payment.withColumn("payment_type", col_payment_type) \
          .withColumn("per%", round((col("Trips") / total_trips.value) * 100, 2)) \
          .select("payment_type", "Trips", "per%") \
          .orderBy(col("Trips").desc())
df_payment

+------------+--------+-----+
|payment_type|   Trips| per%|
+------------+--------+-----+
| Credit card|29575568|79.26|
|        Cash| 7430207|19.91|
|     Dispute|  186388|  0.5|
|   No charge|  122522| 0.33|
+------------+--------+-----+

#### passenger count per trip

In [54]:
# the passenger count shows that most of the trips are done by one or two passenger
passenger_per_trip = trips.select("passenger_count").groupBy("passenger_count") \
            .agg(count("*").alias("Trips")) \
            .withColumn("per%", round((col("Trips") / total_trips.value) * 100, 2)) \
            .orderBy(col("Trips").desc())

passenger_per_trip

+---------------+--------+-----+
|passenger_count|   Trips| per%|
+---------------+--------+-----+
|            1.0|27530422|73.78|
|            2.0| 6463245|17.32|
|            3.0| 1505686| 4.04|
|            4.0|  687134| 1.84|
|            5.0|  675153| 1.81|
|            6.0|  452943| 1.21|
|            7.0|      51|  0.0|
|            8.0|      41|  0.0|
|            9.0|      11|  0.0|
+---------------+--------+-----+

#### Categorize the trips by distance

In [46]:

df_trip_by_distance = trips.select("trip_distance") \
                        .withColumn("range",
                                    when(col("trip_distance") <= 2, "Short trip <2 mile") \
                                   .when((col("trip_distance") > 2) & (col("trip_distance") <= 30) ,"Medium trip 2-30 miles") \
                                    .when( col("trip_distance") > 30 ,"Long trip >30 mile") \
                                    ) \
                        .groupBy("range").agg(count("*").alias("Trips")) \
                        .withColumn("per%", round((col("Trips")/total_trips.value)*100 )  ) \
                        .select( "range","Trips","per%")
df_trip_by_distance

+--------------------+--------+----+
|               range|   Trips|per%|
+--------------------+--------+----+
|  Long trip >30 mile|  728162| 2.0|
|  Short trip <2 mile|10765738|29.0|
|Medium trip 2-30 ...|25820786|69.0|
+--------------------+--------+----+

In [ ]:
# saving results DF
results_dir =  os.path.join('/','NYC','results','')
trip_per_month.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"Trip_per_month.csv")
trips_per_day_of_week.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"Trip_per_day_of_week.csv")
trips_per_borough.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"Trip_per_borough.csv")
trips_in_manhattan.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"Trips_in_manhattan.csv")
df_payment.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"df_payment.csv")
passenger_per_trip.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"passenger_per_trip.csv")
df_trip_by_distance.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"df_trip_by_distance.csv")
trips.repartition(1).write.options(header=True,encoding="UTF-8",delimiter=',').mode("overwrite").csv(results_dir+"Trips.csv")